@font-face {
    font-family: 'Rubik', sans-serif;
    src: url();
}
*{
    font-family: 'Rubik', sans-serif;
}
#map { 
    
    height: 70vh;
    min-height: 400px;
    z-index: 0;
 }

#background {
    background-image: url(../images/pattern-bg-desktop.png);
    background-repeat: no-repeat;
    min-height: 340px;
    max-width: 100%;
    height:30vh;
    background-size: cover;
   
}
#button-addon2{
    width: 60px;
    max-width: 100%;
    font-weight: bolder;
}

.leaflet-control-container{
    display: none;
}

#h1{
    margin-bottom: 40px;
    color: white;
}
.information{
    
    width: 80%;
    margin-top: 70px;
    border-radius: 20px;
    z-index: 1;
}
#bar{
    width: 50%;
}
#container{
margin-top: 40px;
}

.col-3{
 padding: 40px;
        
}
.border-right{
    position: relative;
}
.border-right::after{
    
    content: "";
    background: hsl(0, 0%, 59%);
    position: absolute;
    bottom: 35px;
    left: 0;
    height: 50%;
    width: 0.5px;
}

h5{
    color: hsl(0, 0%, 59%);
    text-transform: uppercase;
    font-size: 14px;
}
.info{
    font-weight: 500;
    font-size: 24px;
}

.data{
    border: none;
    background-color: transparent;
}




@media  screen and (max-width: 780px) {
    #col-3{
        margin-top: 20px;
    }
    .col-3{
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      
               
       }
       h5{
       
        font-size: 10px;
    }
    .information{
        flex-direction: column;
        
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
    }
    #bar{
        width: 80%;
    }
    .info{
        font-weight: bold;
    }
 
  }